h4 {
    padding-left: 20px;
    color: #aaaaff
}

table {
    width: 100%;
}

td {
    background: #eeeeee;
    height: 50px;
    text-align: center;
}

.theme {
    text-align: center
}

img {
    width: 50%;
}

.center-img {
    text-align: center;
}

.galery-block {
    text-align: center;
    width: 75%;
}

.div-block {
    text-align: left;
}