{% extends "base.html" %}

{% block content %}
<img src="{{ url_for('static', filename='img/MARS-2-7.png') }}" align="left">
<h1>Аварийный доступ</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.id_member.label }}<br>
        {{ form.id_member(class="form-control") }}<br>
        {% for error in form.id_member.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.password_member.label }}<br>
        {{ form.password_member(class="form-control", type="password") }}<br>
        {% for error in form.password_member.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.id_capitan.label }}<br>
        {{ form.id_capitan(class="form-control") }}<br>
        {% for error in form.id_capitan.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.password_capitan.label }}<br>
        {{ form.password_capitan(class="form-control", type="password") }}<br>
        {% for error in form.password_capitan.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}